<div class="row">
    <div class="col-md-6 form-group"><label class="form-label">Placa</label><input type="text" name="placa" class="form-control" required></div>
    <div class="col-md-6 form-group"><label class="form-label">Marca</label><input type="text" name="marca" class="form-control" required></div>
</div>
<div class="row">
    <div class="col-md-6 form-group"><label class="form-label">Modelo</label><input type="text" name="modelo" class="form-control" required></div>
    <div class="col-md-6 form-group"><label class="form-label">Ano</label><input type="number" name="ano" class="form-control" min="1900" max="2100"></div>
</div>
<div class="row">
    <div class="col-md-4 form-group"><label class="form-label">Cor</label><input type="text" name="cor" class="form-control"></div>
    <div class="col-md-4 form-group"><label class="form-label">KM Atual</label><input type="number" name="km_atual" class="form-control"></div>
    <div class="col-md-4 form-group">
        <label class="form-label">Combustível</label>
        <select name="combustivel" class="form-select">
            <option value="">Selecione...</option>
            <option value="Gasolina">Gasolina</option>
            <option value="Álcool">Álcool</option>
            <option value="Flex">Flex</option>
            <option value="Diesel">Diesel</option>
            <option value="GNV">GNV</option>
            <option value="Elétrico">Elétrico</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group"><label class="form-label">Chassi/VIN</label><input type="text" name="chassi" class="form-control"></div>
    <div class="col-md-6 form-group"><label class="form-label">Motor</label><input type="text" name="motor" class="form-control"></div>
</div>